body {
    border:2px solid #a1a1a1;
    padding: 10px 10px 10px 10px;
    width: 800px;
    height: 600px;
    border-radius:25px;
}

#logo {
    border: 2px solid #a1a1a1;
    background: #ff6a00;
    width: 220px;
    height: 100px;
    border-radius: 15px;
}
figure {
    margin-top:10px;
    margin-left:10px;
}
nav {
    border: 2px solid #a1a1a1 ;
    background: #1936f8;
    width: 800px;
    height: 50px;
    border-radius: 15px;
    margin-top:10px;
    color:#fff;
}
a.nav {
    color: #fff;
}
li {
    text-align: right;
}